<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/syntax.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <div class="header clearfix">
            <h1 class="blog-title left"><a href="/">{{ site.name }}</a></h1>
            <a class="ml20 left" href="/">home</a>
        </div>

        <div class="container">
                {{ content }}
        </div>


        <div class="footer" class="clearfix">
            <div class="left">
              黄华鑫 · lucas<br />
              <a href="http://mail.163.com/share/mail2me.htm#email=104117097120105110106105097121111117064049050054046099111109" target="_blank">huaxinjiayou@126.com</a>
            </div>
            <div class="right text-right">
                <a href="http://jser.me" target="_blank">草依山的Javascript世界</a>    ·
                <a href="http://weibo.com/huaxin1989" target="_blank">新浪微博</a>    ·
                <a href="http://www.renren.com/255510050" target="_blank">人人</a><br />
                <span>嘿嘿...又一个博客</span>
            </div>
        </div>

    </body>
</html>
