---
layout: default
---
<div class="clearfix">
    <span class="post-title">{{ page.title }}</span>
    <span class="ml10 post-info">{{ page.date | date:"%Y-%m-%d" }}</span>
</div>

<div class="mb10">
{{ content }}
</div>
<div class="mb30">
   {% for tag in page.tags %}
        <a href="/blog/tag.html#{{tag}}" class="mr10">{{tag}} ({{site.tags[tag] | size}})</a>
   {% endfor %}
</div>
<div class="mb30">
<!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread" data-title="{{ page.title }}" data-url="/blog{{ page.url }}"></div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"huaxinblog"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
<!-- Duoshuo Comment END -->
</div>

<div class="post-relations">
    <ul class="post-list">
        <li class="li-item li-title">相关文章</li>
    {% for post in site.related_posts limit:5 %}
        <li class="clearfix li-item li-info">
            <span class="right">{{ post.date | date:"%Y-%m-%d" }}</span>
            <a href="/blog{{ post.url }}" class="left">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
